<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Tapestry Prototype</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim plus feature detection
  ================================================== -->
  <%= javascript_include_tag "modernizr-2.0.6.js", :debug => false %>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <%= stylesheet_link_tag "style.css", :debug => false %>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/favicon.png">

  <!-- Analytics
  ================================================== -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= google_analytics_profile %>']);
    _gaq.push(['_setDomainName', '<%= google_analytics_domain %>']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</head>
<body>
  
  <header>
  </header>
  <div class="container">

  </div>
  <footer>
  </footer>

  <!-- JS
  ================================================== -->
  <%= javascript_include_tag "vendor.js" %>

  <script src="javascripts/settings.js"></script>
  
  <%= javascript_include_tag "init.js" %>


<!-- End Document
================================================== -->
</body>
</html>
